node_modules/
node_modules.rar
node_modules.zip
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment
.env
.env.local
.env.production

# Firebase
google-services.json
GoogleService-Info.plist

# Cloud Functions
functions/lib/
functions/node_modules/
functions/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
